<header class="masthead">
<nav class="language-nav">
  <ul>
      <li><a href="#CSS">CSS</a></li>
      <li><a href="#HTML">HTML</a></li>
      <li><a href="#Javascript">Javascript</a></li>
      <li><a href="#Ruby">Ruby</a></li>
  </ul>
</nav>

<img class='logo' src="assets/AA_Times_Logo.png" alt="AA times logo">

<nav class='masthead-links'>
    <li><a href="date">Tuesday, October 18, 2016</a></li>
    <li><i class="far fa-newspaper"></i><a class="underline" href="Today’s Paper">Today’s Paper</a></li>
    <li><i class="fas fa-video"></i><a class="underline" href="Video">Video</a></li>
    <li><a class="gray" href="weather">77°F</a></li>
    <li><a class="gray" href="stocks">AAO <span>+100%</span></a></li>
</nav>
</header>


