<header class="section-links">
  <ul>
    <li><a class="not-all" href="#World">World</a></li>
    <li><a class="not-all" href="#San Francisco">San Francisco</a></li>
    <li><a class="not-all" href="#New York">New York</a></li>
    <li><a class="not-all" href="#Bootcamp">Bootcamp Prep</a></li>
    <li><a class="not-all" href="#Jumpstart">Jumpstart</a></li>
    <li><a class="not-all" href="#Online">Online</a></li>
    <li><a class="not-all" href="#Marketing">Marketing</a></li>
    <li><a class="not-all" href="#Sales">Sales</a></li>
    <li><a class="not-all" href="#TalentMatch">TalentMatch</a></li>
    <li><a class="not-all" href="#Alumni">Alumni</a></li>
    <li><a class="all-link" href="#all">ALL</a></li>
  </ul>
</header>

